html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.footer .container {
    padding-right: 15px;
    padding-left: 15px;
}

.style1 .main {
    text-align: center;
    margin: 0 auto;
    width: 1024px;
}

.style1 #loginForm table {
    width: 300px;
    margin: 0 auto;
}

.style1 #loginForm table td {
    text-align: left;
}

.style1 .errors {
    color: red;
    text-align: center;
    font-weight: bold;
}

.question-list {
    text-align: left;
}

.question-list .question-item {
    text-align: left;
    margin-bottom: 10px;
}

.question-list .question-item .question #actionQuestionForm {
    display: inline;
}

.question-list .question-item .question-name {
    font-size: 20px;
    /*float: left;*/
    padding-right: 10px;
}

.question-list .question-item .question {
    margin-bottom: 10px;
}

.question-list .question-item .answer #actionAnswerForm {
    display: inline;
}

#accountForm\.errors {
    color: red;
}

#questionForm\.errors {
    color: red;
}

.question-list {
    margin: 5px 10px;
}

.question-list .question-item {
    border: 1px solid #31708f;
    border-radius: 5px;
    padding: 5px 5px;
}

.test_info .content table.report td:first-child{
    text-align: right;
    width: 1%;
    border-right: 1px solid #EEE;
    padding: 2px 4px;
}
.test_info .content table.report td{
    text-align: center;
    width: 1%;
    border-bottom: 1px solid #EEE;
    padding: 2px 4px;
}

.test_info .content table.report tr.title td{
    text-align: center;
    width: 1%;
    border: 0px none;
}