<html>
<body>
<div>
    #set( $url = "$props.baseSite/confirmationEmail?hashCode=$hashCode")
    #springMessage("email.hi") $firstName!
    <br/>
    #springMessage("email.body")
    <br/>
    <a href="${url}">$props.baseSite/confirmationEmail</a>
</div>
</body>
</html>
