#springMessage("email.hi") $firstName!
<br/>
#springMessage("email.body")
<br/>
<a href="$props.baseSite/confirmationEmail?hashCode=$hashCode">$props.baseSite/confirmationEmail</a>
<a href="google.com">gooogle</a>
<br/>
