<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <!-- ======================================================================================= -->
    <!-- =================   				Security settings    			==================== -->
    <!-- ======================================================================================= -->

    <context:component-scan base-package="ua.alex.source.webtester.security"/>

    <security:http use-expressions="true" auto-config="true">
        <security:intercept-url pattern="/login" access="permitAll" />
        <security:intercept-url pattern="/registration" access="permitAll"/>
        <security:intercept-url pattern="/confirmationEmail" access="permitAll"/>
        <security:intercept-url pattern="/loginFailed" access="permitAll"/>
        <security:intercept-url pattern="/forgot_password.html" access="permitAll"/>
        <security:intercept-url pattern="/error" access="permitAll"/>
        <security:intercept-url pattern="/resources/**" access="permitAll"/>
        <security:intercept-url pattern="/favicon.ico" access="permitAll"/>
        <security:intercept-url pattern="/index.jsp" access="permitAll"/>
        <security:intercept-url pattern="/myInfo" access="hasAnyAuthority('ADMIN','TUTOR','ADVANCED_TUTOR','STUDENT')"/>
        <security:intercept-url pattern="/admin/**" access="hasAuthority('ADMIN')"/>
        <security:intercept-url pattern="/tutor/**" access="hasAnyAuthority('TUTOR','ADVANCED_TUTOR')"/>
        <security:intercept-url pattern="/advanced_tutor/**" access="hasAuthority('ADVANCED_TUTOR')"/>
        <security:intercept-url pattern="/**" access="hasAuthority('STUDENT')"/>
        <security:form-login
                login-page="/login"
                authentication-failure-url="/loginFailed"
                default-target-url="/myInfo"
                login-processing-url="/loginHandler"/>
        <security:logout
                logout-success-url="/login"
                invalidate-session="true"
                delete-cookies="JSESSIONID"
                logout-url="/logout"/>
        <security:remember-me key="testOnlineKey" token-repository-ref="tokenRepository"/>

        <security:session-management session-fixation-protection="migrateSession"
                                     invalid-session-url="/invalidSession">
            <security:concurrency-control
                    max-sessions="1"
                    expired-url="/sessionExpired"/>
        </security:session-management>

    </security:http>

    <bean id="simpleUrlAuthenticationSuccessHandler"
          class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler">
        <property name="defaultTargetUrl" value="/myInfo"/>
        <property name="targetUrlParameter" value="url"/>
        <property name="alwaysUseDefaultTargetUrl" value="false"/>
        <property name="useReferer" value="true"/>
    </bean>

    <!--security:authentication-manager>
        <security:authentication-provider user-service-ref="accountAuthentificationService">
            <security:password-encoder ref="pwdEncoder" />
        </security:authentication-provider>
    </security:authentication-manager-->

    <security:authentication-manager>
        <security:authentication-provider ref="customAuthenticationProvider"/>
    </security:authentication-manager>

    <bean id="tokenRepository"
          class="org.springframework.security.web.authentication.rememberme.JdbcTokenRepositoryImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>